<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2018-02-02T17:55:03.474073496"/>
	<meta name="changed" content="2018-02-02T18:04:20.706097136"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Approved Ideas	</p>
<p>updated last on Feb 3, 2018</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">	- different
potencies for baked goods</p>
<p style="margin-bottom: 0in; line-height: 100%">veda	- place special
custom orders for events * (see note below)</p>
<p style="margin-bottom: 0in; line-height: 100%">norma	- chocolate</p>
<p style="margin-bottom: 0in; line-height: 100%">	- lollipop(resale)</p>
<p style="margin-bottom: 0in; line-height: 100%">veda	- Gummy
bears(rose gummy bears)</p>
<p style="margin-bottom: 0in; line-height: 100%">kelly and trish	</p>
<p style="margin-bottom: 0in; line-height: 100%">	- sour strings (we
want, but we dont know how to make)</p>
<p style="margin-bottom: 0in; line-height: 100%">kelly and trish	</p>
<p style="margin-bottom: 0in; line-height: 100%">	- sour patches</p>
<p style="margin-bottom: 0in; line-height: 100%">kelly	- brownies</p>
<p style="margin-bottom: 0in; line-height: 100%">kelly	- cookies</p>
<p style="margin-bottom: 0in; line-height: 100%">kelly	- Muffins</p>
<p style="margin-bottom: 0in; line-height: 100%">kelly	- cupcakes</p>
<p style="margin-bottom: 0in; line-height: 100%">veda	- membership
(points and assortments rewards) *</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">*(these projects
take typically 3x longer than projected)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

<p style="margin-bottom: 0in; line-height: 100%">The date of the next meeting and deadline for product submissions has not been determined yet.
</p>

</p>
<p style="margin-bottom: 0in; line-height: 100%">next meeting topics
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Paraphenalia</p>
<p style="margin-bottom: 0in; line-height: 100%">	contest (positively
oriented)</p>
<p style="margin-bottom: 0in; line-height: 100%">	lipstick taffy</p>
<p style="margin-bottom: 0in; line-height: 100%">	Spray bottle(for
women)</p>
<p style="margin-bottom: 0in; line-height: 100%">	Sexily named
products</p>
<p style="margin-bottom: 0in; line-height: 100%">	Hard candy -gets
you hard</p>
<p style="margin-bottom: 0in; line-height: 100%">	Weed infused Dinner
(bong Apetit)</p>
<p style="margin-bottom: 0in; line-height: 100%">	Best – made
Product reviews</p>  
<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">
	<p style="margin-bottom: 0in; line-height: 100%">Submit a topic</p>
	<input type='text' name='topic' /><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Diana and trisha, give me your full home addresses.(state city street zip apt) .</p>
  <input type='text' name='dianaandtrishaddress' /><br/>
  Trish, i need your full name so we can send you mail if needed.<br/>
	<input type='text' name='trishafullname' /><br/>
  <input type='submit' value='submit.' />
</form>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
Available (fairly reliable) product suppliers: <br />

<%= link_to "California", dwp_weed_path %>
<br />
<%= link_to "Massachusetts", dwp_weed3_path %>
<br />
<%= link_to "Mexico", dwp_weed1_path %>
<br />
<%= link_to "Germany", dwp_weed2_path %>
<br />
<%= link_to "Holland", dwp_weed4_path %> <br />
(<%= link_to "Message me privately", welcome_mailinglistdnp_path %>
if you find something interesting)
<br />
<%= link_to "Or Click Here if you'd like to receive updates when the pages update", welcome_mailinglistdnp_path %>
<br />
<br />
<br />
<br />
<br />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
